.left img {
  border-radius: 4px;
  width: 150px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #eee;
}
.right p {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
}
.right span {
  font-size: 11px;
  color: rgb(255, 7, 102);
}
.pbtime {
  font-size: 9px !important;
  color: rgb(135, 135, 136);
}
