p {
  padding: 0px !important;
  margin: 0px !important;
}
.App {
  font-family: "poppins";
}

.searchInput {
  width: 500px !important;
}
input {
  border-radius: 100px 0px 0px 100px !important;
  outline: none !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

.searchBtn {
  background-color: #f7f7f7 !important;
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
  border-radius: 0px 100px 100px 0px !important;
  color: #212529 !important;
}
.nav-link {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #212529 !important;
}
